@import "tailwindcss";

@theme {
  --color-background: #f7f6f2;
  --color-surface: #ffffff;
  --color-primary-text: #1e1e1e;
  --color-secondary-text: #5f5f5f;
  --color-muted-text: #8c8c8c;
  --color-primary-accent: #e86f2d;
  --color-soft-highlight: #f3e8e1;
  --color-divider: #e8e6e3;
  --color-highlight: #3b82f6;
}
